.booking-info{border-top: 1px solid #f5f5f5;
padding: 10px;margin-top: 15px;}

.booking-info div.date{width: 72px;
background: #f5f5f5;
text-align: center;
float: left;
margin-right: 20px;}

.booking-info div.date > .month{background: #e44049;
height: 20px;
line-height: 20px;
font-size: 0.8333em;
color: #fff;
width: 100%;}

.booking-info div.date > .date{font-size: 2em;
line-height: 1em;
color: #e44049;
font-weight: bold;
margin-top: 6px;
}
.booking-info div.date > .day{font-size: 0.8333em;
font-weight: normal;
line-height: 1.25em;
display:block;
}
.booking-info .box-title{float: left;
}
.booking-info .icon{font-size: 1.0833em;
float: left;
margin-right: 10px;
}
.box-title small {
    font-size: 10px;
    color: #838383;
    text-transform: uppercase;
    display: block;
    margin-top: 4px;
    letter-spacing: normal;
}
.booking-info .info {
    float: right;
    padding-left: 15px;
    border-left: 1px solid #f5f5f5;
    text-transform: uppercase;
    padding-top: 2px;
    margin-bottom: 0;
    width: 140px;
	font-size: 0.8333em;
}
.booking-info .status {
    float: right;
    margin-right: 15px;
    background: #98ce44;
	height: 25px;
	color: white;
	border: none;
}
.booking-info .box-title, #booking .booking-info .status {
    margin-top: 20px;
}
button.btn-mini, input.button.btn-mini[type="button"], a.button.btn-mini {
    height: 19px;
    padding: 0 20px;
    font-size: 0.8333em;
    line-height: 19px;
}
button, input.button[type="button"], a.button {float: right;
margin-right: 15px;
background: #98ce44;
}
.booking-info .box-title, #booking .booking-info .status{margin-top: 20px;
}
button.btn-mini, input.button.btn-mini[type="button"], a.button.btn-mini{height: 19px;
    padding: 0 20px;
    font-size: 0.8333em;
    line-height: 19px;
}
button.btn-mini, input.button.btn-mini[type="button"], a.button.btn-mini{
height: 19px;
padding: 0 20px;
font-size: 0.8333em;
line-height: 19px;
}
.booking-info .info dt{color: #e44049;font-weight: normal;font-size: 0.8333em;}
.button.btn-mini{height:25px;}

.booking-info .icon
{
font-size: 1.0833em;
float: left;
margin-right: 10px;
}
.circle[class*=" soap-icon"]{
border: 1px solid;
width: 1.8em;
height: 1.8em;
line-height: 1.7333em;
-webkit-border-radius: 50% 50% 50% 50%;
-moz-border-radius: 50% 50% 50% 50%;
-ms-border-radius: 50% 50% 50% 50%;
border-radius: 50% 50% 50% 50%;
display: inline-block;
text-align: center;
}
[class*=" soap-icon"] {
    vertical-align: baseline;
}

.yellow-color {
    color: #fdb714 !important;
}
.blue-color{
color: #01b7f2 !important;
}
.red-color {
    color: #e01a33 !important;
}
.green-color {
    color: #7db921 !important;
}

.booking-info div.date > * {display:block;}
.booking-info.cancelled .status{background: #d9d9d9;}
.booking-info.cancelled .info dt{color: inherit;}
.booking-info div.date{width: 72px;
height: 80px;
background: #f5f5f5;
text-align: center;
float: left;
margin-right: 20px;}
.booking-info.cancelled div.date > .month{background: #d9d9d9;}
.booking-info.cancelled div.date > .date{color: #d9d9d9;}
.booking-info.cancelled div.date > .day{color: #d9d9d9;}

.gray-color {
    color: #9e9e9e !important;
    background-color:white !important;
    border:none;
}

/*.btn-primary:hover {
    background: #e27513 !important;
    border-color: #c96810;
}*/

#wishlist
{
    background: #ed8323 !important;
    border-color: #e27513 !important;
}
#wishlist:hover
{
    background: #e27513 !important;
    border-color: #c96810 !important;
}
.btn:hover {
    border-radius: 0px !important;
}
.pagination > li.active > a
{
    background: #337ab7 !important;
    color:white !important;
    
}
.pagination > li > a
{
    color: #337ab7 !important;
}

/*wishlist css*/

/*.booking-list {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
.booking-list-wishlist > li .booking-item-wishlist-title{
position: absolute;
top: 0;
left: 0;
height: 30px;
line-height: 30px;
padding: 0 10px;
border: 1px solid #f2f2f2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(242, 242, 242);
background: #f7f7f7;
border-bottom: none;
font-size: 12px;
-webkit-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
}
.booking-list-wishlist > li .booking-item-wishlist-remove
{
position: absolute;
top: 30px;
right: 0;
display: block;
width: 25px;
height: 25px;
line-height: 25px;
background: #e6e6e6;
color: #737373;
text-align: center;
-webkit-transition: 0.1s;
-moz-transition: 0.1s;
-o-transition: 0.1s;
-ms-transition: 0.1s;
transition: 0.1s;
}
.booking-item {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 17px;
    border: 1px solid #e6e6e6;
    color: #737373;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
img {
    width: 100%;
}
.booking-item-rating {
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #f7f7f7;
    display: inline-block;
}
.booking-item-rating .booking-item-rating-stars
{
display: inline-block;
margin-right: 17px;
margin-bottom: -5px;
color: #ed8323;
}
.icon-group {
    list-style: none;
    margin: 0;
        margin-right: 0px;
        margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
}
.booking-item-rating .booking-item-rating-number
{
.booking-item-rating .booking-item-rating-number {
    margin-right: 7px;
}
* > small, small {
    color: #818181;
    font-size: 10px;
    line-height: 1.4000000000000001em;
}
.booking-item-title {
    margin-bottom: 7px;
}
.booking-item-address {
    line-height: 1em;
    font-size: 13px;
}
.booking-item-description {
    font-size: 13px;
    line-height: 1.5em;
}
.booking-item-price-from {
    display: block;
    font-size: 12px;
    line-height: 1em;
}
.booking-item-price {
    font-size: 47px;
    color: #626262;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 12px;
}*/
.booking-item-rating .booking-item-rating-stars .fa {
    margin-right: 0;
    font-size: 15px !important;
}
.booking-item-wishlist-title .fa-bolt{font-size:15px !important;}
/*.booking-list > li {
	   border: 1px solid lightgray !important;
}*/
.fa {
    font-size: 15px !important;
}
#icons {
    font-size: 45px !important;
}

.panel-heading {
    padding: 10px 15px !important;
}
.container
{
    width: 1100px !important;
    padding-right: 0px;
    padding-left: 0px;
}

.radio-custom {
    opacity: 0;
    position: absolute;   
}

.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    /*margin: 5px;*/
    cursor: pointer;
}

.radio-custom-label {
    position: relative;
    padding: 4px;
}

.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    /*padding: 2px;*/
    margin-right: 5px;
    text-align: center;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: white;
    background-color: #01b7f2;
    font-size:13px;
}

.radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

.btn-primary {
    background: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.btn-primary:hover {
    background: #red !important;
    border-color: #2e6da4 !important;
}

html {
  overflow-y: scroll;
}